

.mainDiv {
    background-color: #F7F9FB;
    width: 80%;
    position: absolute;
    height: 75%;
    align-items: center;
    left: 10%;
    top: 15%;
    justify-content: space-between;
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
}

.new1 {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 30px;
    width: 18%;
    height: 40%;
    border: none;
    cursor: pointer;
}
.new1:hover{
    border: 2px solid #008BDA;
}