

.visitor{
    position: absolute;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    top: 25%;
    left: 25%;
}

.newPost{
    position: absolute;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    top: 25%;
    left: 60%;
}

.newInquiry{
    position: absolute;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    top: 60%;
    left: 25%;
}

.comments{
    position: absolute;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    top: 60%;
    left: 60%;
}